.popup__save {
    margin-top: 48px;
    width: 358px;
    height: 50px;
    align-self: center;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    background-color: black;
    border: solid 1px white;
    color: white;
}

@media screen and (max-width:600px) {
    .popup__save {
        width: 238px;
    }
}

.popup__save:hover {
    opacity: 0.5;
}