.popup__textarea-name{
    width:358px;
    margin-left:auto;
    margin-right:auto;
    margin-top:54px;
    margin-bottom:30px;
    font-weight:400;
    font-size:14px;
    line height: 16.94px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: solid 1px  black;
    outline:none;
}
@media  screen and (max-width:600px) {
    .popup__textarea-name{
    width:238px;
    }
}
